body{
    font-family: 'Open Sans', sans-serif;
}

.app-title{
    color:#159957;
    text-align: center;
}

.stock-table{
    width: 401px;
    margin: auto;
}

.stock-row{    
    margin: 5px 0px;
    line-height: 40px;
}

.stock-row span{
    padding: 0 15px;
}

.stock-name,.stock-price{
    display: inline-block;
}

.stock-name{
    width: 70px;
    text-transform: uppercase;
}

.stock-price{
    width: 100px;
    font-weight: 600;
    text-align: center;
}

.stock-price-increase,
.stock-price-decrease{    
    color: #FFF;
    border-radius: 6px;    
}

.stock-price-increase{        
    background-color: #159957;
}

.stock-price-decrease{        
    background-color: #ff0000;
}